<div class="sidebar">
  <div class="logo">
    <img src="/assets/heritagelogo.jpg" alt="School Logo" />
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fas fa-home"></i> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/students" routerLinkActive="active">
          <i class="fas fa-user-graduate"></i> Students
        </a>
      </li>

      <!-- Teachers with dropdown -->
      <li>
        <a (click)="toggleDropdown('teachers')">
          <i class="fas fa-chalkboard-teacher"></i> Teachers
          <i class="fas fa-chevron-down" style="margin-left: auto"></i>
        </a>
        <ul *ngIf="isDropdownOpen('teachers')">
          <li>
            <a routerLink="/teacherslisting" routerLinkActive="active">
              <i class="fas fa-list"></i> All Teachers
            </a>
          </li>
          <li>
            <a routerLink="/teachers" routerLinkActive="active">
              <i class="fas fa-plus"></i> Add Teacher
            </a>
          </li>
        </ul>
      </li>

      <!-- Accounts with dropdown -->
      <li>
        <a (click)="toggleDropdown('accounts')">
          <i class="fas fa-wallet"></i> Accounts
          <i class="fas fa-chevron-down" style="margin-left: auto"></i>
        </a>
        <ul *ngIf="isDropdownOpen('accounts')">
          <li>
            <a routerLink="/term-duration" routerLinkActive="active">
              <i class="fas fa-calendar-alt"></i> Term Duration
            </a>
          </li>
          <li>
            <a routerLink="/fees-collection" routerLinkActive="active">
              <i class="fas fa-money-bill-wave"></i> All Fees Collection
            </a>
          </li>
          <li>
            <a routerLink="/studentsupport" routerLinkActive="active">
              <i class="fas fa-hands-helping"></i> Student Support
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a routerLink="/classes" routerLinkActive="active">
          <i class="fas fa-credit-card"></i> Manage Classes
        </a>
      </li>
      <li>
        <a routerLink="/attendance" routerLinkActive="active">
          <i class="fas fa-calendar-check"></i> Attendance
        </a>
      </li>
      <li>
        <a routerLink="/photolibrary" routerLinkActive="active">
          <i class="fas fa-images"></i> Photo Library
        </a>
      </li>
      <li>
        <a routerLink="/timetable" routerLinkActive="active">
          <i class="fas fa-file-alt"></i> Timetable
        </a>
      </li>
      <li>
        <a routerLink="/exams" routerLinkActive="active">
          <i class="fas fa-file-alt"></i> Exam Results
        </a>
      </li>
      <li class="logout">
        <a routerLink="/login" routerLinkActive="active">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </li>
    </ul>
  </nav>
</div>
