.teachers-listing {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #F2F2F2;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.teachers-listing h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #8C2C16;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bar input {
  width: 30%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #A1BF60;
  background-color: #FFFFFF;
  transition: border-color 0.3s;
}

.search-bar input:focus {
  border-color: #90BF2A;
  outline: none;
}

.search-bar button {
  padding: 8px 16px;
  border: none;
  background-color: #F26716;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #8C2C16;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

th {
  background-color: #A1BF60;
  color: #FFFFFF;
  font-weight: bold;
}

td {
  background-color: #FFFFFF;
 
}
.actions-menu {
  position: relative;
}

.actions-menu button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.actions-dropdown {
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  z-index: 1;
}

.actions-dropdown button {
  padding: 8px 16px;
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.actions-dropdown button:hover {
  background-color: #F2F2F2;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  background-color: #90BF2A;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  margin: 0 10px;
  color: #333;
}

input[type="text"],
select {
  padding: 5px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
select:focus {
  border-color: #90BF2A;
  outline: none;
}

button {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #F2F2F2;

}

.teachers-listing .edit-mode {
  background-color: #F2F2F2;
  
}