.students-container {
  display: flex;
  background-color: #f8f9fa;
}

.students-sidebar {
  width: 30%;
  background-color: #ffffff;
  padding: 20px;
  border-right: 1px solid #e0e0e0;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.students-list {
  margin-top: 20px;
}

.student-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.student-item img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.student-details {
  display: flex;
  flex-direction: column;
}

.student-details .student-id {
  color: #6c757d;
}

.student-details-container {
  width: 70%;
  padding: 20px;
}

.student-header {
  display: flex;
  align-items: center;
  background-color: #374b63;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.student-header img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.student-info h2 {
  margin: 0;
}

.student-basic-details {
  margin-top: 20px;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.detail-item label {
  font-weight: bold;
  color: #6c757d;
}

.detail-item p {
  margin: 5px 0;
}

.student-performance {
  margin-top: 20px;
}

.student-performance ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.student-performance ul li {
  cursor: pointer;
}

.progress-chart {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}