.students-container {
  display: flex;
  background-color: #f2f2f2;
  height: 100vh;
}

.students-sidebar {
  width: 30%;
  background-color: #ffffff;
  padding: 20px;
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 100vh;
 
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.search-bar input:focus {
  border-color: #90BF2A;
}

.students-list {
  margin-top: 20px;
}

.student-list-headers {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-weight: bold;
  border-bottom: 2px solid #8C2C16;
  text-align: left;
  color: #8C2C16;
  text-transform: uppercase;
  font-size: 14px;
}

.header-item {
  flex: 1;
  padding-left: 10px;
}

.student-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.student-item:hover {
  background-color: #e9f5e0;
  transform: scale(1.02);
}

.student-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-y: auto;
}

.student-info {
  flex: 1;
  padding-left: 10px;
}

.student-details-container {
  width: 70%;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
}

.student-header {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #A1BF60, #8C2C16);
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.student-header img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border: 2px solid #ffffff;
}

.student-info h2 {
  margin: 0;
  font-size: 24px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.student-basic-details {
  margin-top: 20px;
}

h3 {
  color: #8C2C16;
  font-size: 20px;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

h3::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #90BF2A;
  position: absolute;
  left: 0;
  bottom: 0;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.detail-item label {
  font-weight: bold;
  color: #8C2C16;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 5px;
}

.detail-item p {
  margin: 5px 0 15px 5px;
  font-size: 15px;
  color: #2c3e50;
}

.student-parents-details {
  margin-top: 20px;
}

.student-address-details {
  margin-top: 20px;
}

.student-performance {
  margin-top: 20px;
}

.student-performance ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.student-performance ul li {
  cursor: pointer;
  color: #F26716;
}

.student-performance ul li:hover {
  color: #8C2C16;
}

.progress-chart {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-grid div {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.click-prompt {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin: 20px 0;
  animation: slide-in 3s ease-in-out forwards;
  opacity: 0;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

label {
  color: #F26716;
}